.content2{
    padding: 0;
    margin: 0 auto;
}
.content2 .images{
    background: #ffffff;
    margin: 10px;
    padding: 5px;
    display: inline-flex;
    height: 55vh;
    white-space: nowrap;
}

.content2 .images img{
    padding: 0;
    margin: 0;
    height: 55vh;
    display: block;
}

.content2 .tools{
    /* width: 220px; */
    background: #fff;
    margin: 10px;
    padding: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    float: right;
}

.content2 .tools-div{
    width: 220PX;
    display: block;
    float: left;
}

.content2 .to-up{
    background-image: url(left.png);
}

.content2 .to-next{
    background-image: url(right.png);
}


.content2 .weui-cell_switch {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}