body {
    margin: 0;
    /* width: 100%; */
    background: #EBECED;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.content .images {
    width: 500px;
    margin: 10px;
    padding: 5px;
    background: #ffffff;
    float: left;
}

.content .images img {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    margin-bottom: 5px;
}

.content .tools {
    width: 220px;
    background: #fff;
    margin: 10px;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    float: right;
}

.v-margin-center {
    margin: 0 auto;
}

.v-dividing-line {
    display: block;
    height: 0;
    color: #fff;
    border-bottom: 1px solid #b1b1b1;
    margin: 8px 0;
    width: 100%;
    padding: 0;
    margin-top: 18px;
}

#myCanvas {
    display: none;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    /* border-radius: 10px; */
    background: #ededed;
}

.cursor-pointer {
    cursor: pointer;
}

#image-tools {
    width: 120px;
    height: 40px;
    position: absolute;
    background: #0000007c;
    left: 0;
    top: 0;
    color: #FFF;
}


#image-tools p {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

#image-tools p:hover {
    background-color: #b1b1b1;
    border-radius: 8px;
}

.image-tools-box {
    width: 100%;
    height: 100%;
    background-color: #000000a3;
    border-radius: 8px;
}

.content .to-up {
    background-image: url(up.png);
}

.content .to-next {
    background-image: url(next.png);
}

.to-del {
    background-image: url(del.png);
}


.picker {
    margin: 0;
    padding: 0;
    border: 0;
    width: 55px;
    height: 32px;
    border-right: 32px solid #ffffff;
    line-height: 32px;
    font-size: 16px;
    font-family: monospace;
}